:root {
    --primary-color: #ef4444; /* red-500 */
    --background-light: #f3f4f6; /* gray-100 */
    --text-light: #1f2937; /* gray-800 */
    --background-dark: #1f2937; /* gray-800 */
    --text-dark: #f3f4f6; /* gray-100 */
}

body {
    transition: background-color 0.3s, color 0.3s;
}

.theme-light {
    background-color: var(--background-light);
    color: var(--text-light);
}

.theme-dark {
    background-color: var(--background-dark);
    color: var(--text-dark);
}

aside a:hover {
    background-color: #f87171; /* red-400 */
}

aside a.active {
    background-color: var(--primary-color);
    color: white;
}
